// Code in the comments belongs to a previous iteration of the project that might need to be returned to

// Import a Google Font
// Open Sans - Regular (400)
// Open Sans - Bold (700)
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$link: #0060df;

// Import Material Design
// @import "../node_modules/material-design-icons/iconfont/";

// Bulma *ALL SASS imports
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/grid/_all.sass';
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/layout/_all.sass';
@import '../node_modules/bulma/sass/elements/_all.sass';

// Components
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/components/dropdown.sass';
@import '../node_modules/bulma/sass/components/modal.sass';
@import '../node_modules/bulma/sass/components/level.sass';

// Material Design Icons
// Default Styles
.alert.mdi::before,
.breadcrumb .mdi::before,
.btn.mdi::before,
.card-title.mdi::before,
.card-subtitle.mdi::before,
.card-link.mdi::before,
.dropdown-item.mdi::before,
.list-group-item.mdi::before,
.nav-link.mdi::before {
  font-size: 1.25em;
  line-height: initial;
  position: relative;
  top: 0.09rem;
}
.alert.mdi::before,
.breadcrumb .mdi:not(:empty)::before,
.btn.mdi:not(:empty)::before,
.card-title.mdi:not(:empty)::before,
.card-subtitle.mdi:not(:empty)::before,
.card-link.mdi:not(:empty)::before,
.dropdown-item.mdi:not(:empty)::before,
.nav-link.mdi:not(:empty)::before {
  margin-right: 0.25rem;
}
.list-group-item.mdi:not(:empty)::before {
  margin-right: 0.5rem;
}
.dropdown-item.mdi:not(:empty)::before {
  margin-left: -0.75rem;
}
.alert.mdi::before,
.list-group-item.mdi:not(:empty)::before {
  margin-left: -0.5rem;
}
.modal-title.mdi::before {
  font-size: 1em;
  line-height: 0.5;
  position: relative;
  top: 0.26rem;
  margin-right: 0.5rem;
}

// Structure
html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.hero-body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.content-wrapResponsive {
  position: absolute;
  width: 100%;
}

.container.is-fluid {
  padding: 0;
  height: 100%;
}

.columns {
  height: 100%;
}

.dashboard {
  height: 100%;
}

.columns.dasboard {
  margin: 0;
}

.columns.content-base {
  background-color: #fafafa;
  margin: 0;
}

.columns.main-content {
  margin: 10px;
}

.column.content-wrap {
  padding: 20px;
}

.column.is-narrow {
  // Menu side bar white background and box shadow
  // Code is commented in case we need to use this approach again
  //background-color: white;
  //box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  //z-index: 1;
  width: 200px;
  padding: 0;
}

.column.top-nav {
  background-color: transparent;
  padding: 0.1rem;
}

.colums.breadcrumbs {
  background-color: #2962ff;
}

// Sidebar Menu
.sidebar {
  background-color: white;
}

.aside {
  height: 100%;
}

.navbar-item img {
  max-height: 3.2rem;
}

.menu {
  width: 100%;
  // Previous menu position, might be useful once we remove the top tabs bar from the default polymer project
  // Code is commented in case we need to use this approach again
  //position: fixed;
  //top: 8.5em;
  margin-top: 1em;
}

.menu-list {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

.menu-list li {
  padding: 2%;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 5px;
  height: 30px;
  color: #212121;
  display: flex;
  align-items: center;
  &:hover {
    color: #0060df;
    background-color: #f6f8f7;
  }
  &:active {
    color: #0060df;
    background-color: #f6f8f7;
  }
  &:focus {
    color: #0060df;
    background-color: #f6f8f7;
  }
}

.menu-list li a {
  &:hover {
    color: #0060df;
  }
}

.menu-list a {
  color: #212121;
}

.menu-list span {
  padding-left: 1%;
}

a.dashboard,
a.library,
a.discussions,
a.groups,
a.user-settings,
a.network {
  padding-left: 0.8em;
  &:hover {
    color: #0060df;
  }
}

.sidebar-divider {
  margin: 2%;
}

.sidebar-dropdown {
  padding: 1%;
  margin-left: 1%;
}

.top-divider {
  margin: 30px 0 5px 0;
}

// Top Bar
.top-nav {
  margin: 0.5em 2.5em 0.5em 2.5em;
  max-width: 100%;
}

.topbar-search-icon {
  display: flex;
  align-items: center;
  color: #212121;
  padding-top: 10px;
}

.top-nav-input {
  color: #212121;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  box-shadow: none;
  padding-left: 20px;
  font-size: 1em;
  width: 350px;
  &:focus {
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }
}

::placeholder {
  color: black;
  opacity: 1;
  &:focus {
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }
}

// Navbar
.navbar {
  background-color: #fafafa;
}

.tags {
  width: 350px;
}

.activity-dashboard {
  height: auto;
}

.activity-dashboard h3 {
  color: #212121;
  font-weight: 600;
  font-size: 16px;
}

.main-left {
  padding: 0;
}

.tag-activity-dashboard {
  margin-right: 10px;
}

// Breadcrumbs
ul.breadcrumb {
  margin-bottom: 1em;
  list-style: none;
  background-color: transparent;
}

ul.breadcrumb li {
  display: inline;
  font-size: 0.9em;
  color: #424242;
  font-weight: 500;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: '/\ ';
}

ul.breadcrumb li a {
  color: #0060df;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
