// Import a Google Font
// Open Sans - Regular (400)
// Open Sans - Bold (700)
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

// Import Material Design
//@import "../node_modules/material-design-icons/iconfont/";

// Bulma *ALL SASS imports
@import "bulma/sass/utilities/mixins";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";

// Components
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/components/level.sass";

// Elements
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/table.sass";

// Layout
@import "../node_modules/bulma/sass/layout/_all.sass";

// Should remake the structure in order to include these imports
// @import "../node_modules/bulma/sass/elements/_all.sass";
// @import "../node_modules/bulma/sass/components/_all.sass";

// Material Design Icons
// Default Styles
.alert.mdi::before,
.breadcrumb .mdi::before,
.btn.mdi::before,
.card-title.mdi::before,
.card-subtitle.mdi::before,
.card-link.mdi::before,
.dropdown-item.mdi::before,
.list-group-item.mdi::before,
.nav-link.mdi::before {
	font-size: 1.25em;
	line-height: initial;
	position: relative;
	top: 0.09rem;
}
.alert.mdi::before,
.breadcrumb .mdi:not(:empty)::before,
.btn.mdi:not(:empty)::before,
.card-title.mdi:not(:empty)::before,
.card-subtitle.mdi:not(:empty)::before,
.card-link.mdi:not(:empty)::before,
.dropdown-item.mdi:not(:empty)::before,
.nav-link.mdi:not(:empty)::before {
	margin-right: 0.25rem;
}
.list-group-item.mdi:not(:empty)::before {
	margin-right: 0.5rem;
}
.dropdown-item.mdi:not(:empty)::before {
	margin-left: -0.75rem;
}
.alert.mdi::before,
.list-group-item.mdi:not(:empty)::before {
	margin-left: -0.5rem;
}
.modal-title.mdi::before {
	font-size: 1.5em;
	line-height: 0.5;
	position: relative;
	top: 0.26rem;
	margin-right: 0.5rem;
}

// Structure
html,
body {
	margin: 0;
	height: 100%;
}

h2 {
	color: green;
	text-decoration-style: dotted;
	text-decoration: underline;
	font-size: 3rem;
}

.hero-body {
	margin: 0;
	padding: 0;
	background-color: #fafafa;
}

.container.is-fluid {
	margin: 0;
	padding: 0;
	height: 100%;
}

.columns {
	height: 100%;
}

.columns.dasboard {
	margin: 0;
}

.columns.content-base {
	background-color: #fafafa;
	margin: 0;
}

.columns.main-content {
	margin: 10px;
}

.column.content-wrap {
	padding: 20px;
}

.column.is-narrow {
	background-color: white;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 5px 5px 6px #d8d3d3;
	z-index: 1;
	width: 250px;
	padding: 0;
}

.column.top-nav {
	background-color: transparent;
	padding: 0.1rem;
}

.colums.breadcrumbs {
	background-color: #2962ff;
}

// Sidebar Menu
.aside {
	height: 100%;
}

.sidebar-brand {
	margin: -50px 0 50px 0;
}

.menu {
	padding-left: 50px;
	position: fixed;
}

.menu-list {
	font-size: 16px;
}

.menu-list li {
	margin-top: 20px;
	&:hover {
		color: #2962ff;
		background-color: #e3f2fd;
	}
	&:active {
		color: #2962ff;
		background-color: #e3f2fd;
	}
}

.menu-list a {
	padding-bottom: 20px;
	color: #757575;
}

.menu-list a.dashboard {
	background: url("../node_modules/@mdi/svg/svg/view-dashboard-outline.svg") no-repeat;
	background-position: 0% 0%;
}

.menu-list a.library {
	background: url("../node_modules/@mdi/svg/svg/view-dashboard-outline.svg") no-repeat;
	background-position: 0% 0%;
}

.menu-list a.discussions {
	background: url("../node_modules/@mdi/svg/svg/book-open-outline.svg") no-repeat;
	background-position: 0% 0%;
}

.menu-list a.groups {
	background: url("../node_modules/@mdi/svg/svg/format-list-bulleted-square.svg") no-repeat;
	background-position: 0% 0%;
}

.menu-list a.network {
	background: url("../node_modules/@mdi/svg/svg/account-group-outline.svg") no-repeat;
	background-position: 0% 0%;
}

.menu-list a.user-settings {
	background: url("../node_modules/@mdi/svg/svg/wan.svg") no-repeat;
	background-position: 0% 0%;
}

.small-device-tags a.tag-activity-dashboard {
	background: url("../node_modules/@mdi/svg/svg/settings-outline.svg") no-repeat;
	background-position: 0% 0%;
	color: black;
	&:hover {
		color: #2962ff;
	}
}

a.dashboard,
a.library,
a.discussions,
a.groups,
a.user-settings,
a.network {
	padding-left: 3em;
	vertical-align: middle;
}

img.sidebar {
	width: 25px;
	height: 25px;
	padding-right: 15px;
	vertical-align: middle;
	color: #757575;
}

img.top-menu {
	width: 25px;
	height: 25px;
	padding-right: 15px;
	vertical-align: middle;
	color: #757575;
}

img.sidebar.dashboard-icon {
	color: rgba(0, 0, 0, 0.26);
}

img.avatar {
	padding-left: 10px;
	padding-right: 3px;
}

img.search_icon {
	width: 25px;
	height: 25px;
	margin-right: 20px;
	vertical-align: middle;
}

.navbar-divider {
	margin: 20px 0 0 0;
}

.input {
	color: black;
	-webkit-appearance: none;
	border: none;
	background-color: transparent;
	box-shadow: none;
	&:focus {
		-webkit-appearance: none;
		border: none;
		background-color: transparent;
		box-shadow: none;
	}
}

::placeholder {
	color: black;
	opacity: 1;
	&:focus {
		-webkit-appearance: none;
		border: none;
		background-color: transparent;
		box-shadow: none;
	}
}

// Right Side Menu
.tag-activity-dashboard a.dashboard {
	background: url("../node_modules/@mdi/svg/svg/plus.svg") no-repeat;
	background-position: 0% 0%;
}

a.tag-activity-dashboard {
	padding-left: 2em;
	vertical-align: middle;
	text-transform: uppercase;
}


// Navbar
.navbar {
	background-color: transparent;
}

.navbar-dropdown {
	margin-top: 3px;
}

.navbar-item.has-dropdown {
	margin-right: 15px;
	font-size: 15px;
	background-color: white;
	border-radius: 25px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	height: 45px;
	&:hover {
		background-color: white;
		border-radius: 25px;
		height: 45px;
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	}
}

.navbar-item.has-dropdown a {
	margin-right: 15px;
}

.navbar-link:not(.is-arrowless)::after {
	border-color: black;
	margin-top: -0.5em;
	margin-left: 15;
	right: 0.5em;
}

.navbar-link.avatar {
	padding-left: 15px;
}

.navbar-item.is-hoverable {
	background-color: white;
	border-radius: 25px;
}

// Cards
.box {
	margin: 0;
}

.box-feed {
	margin-top: 25px;
	&:hover {
		border: 5px solid #2962ff;
	}
}

.info-card {
	margin-left: 50px;
}

.info-card p {
	margin-top: 10px;
}

.tags {
	width: 350px;
	margin-left: 10px;
}

.activity-dashboard {
	height: auto;
}

.activity-dashboard h3 {
	color: black;
	font-weight: bold;
}

// News Feed - Dashboard
.tag-activity-dashboard {
	margin-right: 10px;
}

.news-feed {
	padding: 10px;
}
.news-feed-message {
	margin-left: 65px;
	width: auto;
	background-color: #fafafa;
	border-radius: 5px;
	word-wrap: break-word;
}

.news-feed-message h4 {
	font-weight: bold;
	margin-bottom: 5px;
}

.avatar-news-feed {
	width: 50px;
	height: 50px;
	margin-right: 15px;
}

.bottom-nav-news {
	margin-left: 65px;
}

// Tags
.tag-structure {
	margin-right: 5px;
}
.tag-buttons {
	margin-right: 5px;
}

.tag-button-colors {
	background-color: #acebd2;
	border-color: #1b4e3a;
	height: 15px;
	color: #1b4e3a;
	&:hover {
		background-color: #acebd2;
		border-color: #acebd2;
		color: #1b4e3a;
	}
}

.tag-buttons {
	margin-top: 10px;
}

.tag-icons img {
	margin-left: 5px;
}

.tag-label {
	margin-left: 10px;
}

// Library
// Library Table

.table-wrap {
	width: 100%;
}

.library-box {
	margin: 0;
	width: 100%;
}

.library-content {
	margin-top: 25px;
	border-radius: 5px;
}

.library-section {
	&:hover {
		background: #deecff;
		border-radius: 5px;
		border: 3px solid #2962ff;
	}
}

.library-columns p {
	font-size: 0.75rem;
	text-transform: uppercase;
	color: #666666;
}
.library-padding {
	padding: 15px;
}

.library-designation-wrap {
	vertical-align: middle;
}

.table p {
	font-size: 0.75rem;
	text-transform: uppercase;
}

p.library-checkbox-label-top {
	margin-left: 10px;
}

.library-designation-tag {
	margin-left: 15px;
	vertical-align: middle;
}

.library-designation-hover {
	color: #757575;
}
.table {
	background: transparent;
}

.checkbox-label {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
