.calendar-p {
  color: white;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}

.calendar-date {
  color: white;
  font-size: 0.9em;
  text-transform: uppercase;
}
.card-icon {
  color: white;
}

.calendar-card {
  background-color: #424242;
}
