.calendar-p {
    color: white;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
}

.calendar-date {
    color: white;
    font-size: 0.9em;
    text-transform: uppercase;
}
.card-icon {
    color: white;
}

.calendar-card {
    border-style: solid;
    border-width: 1px;
    border-color: #0060df;
    background-color: #0060df;
}