.groups-about-box {
    background-color: white;
    border-radius: 5px;
	position: sticky;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	height: 38em;
}

.groups-about-box h5 {
	font-weight: bold;
	color: black;
}

.groups-brand {
	margin-top: 3em;
	margin-bottom: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.group-name {
	text-align: center;
	margin-bottom: 1.5em;
}

.group-name h6 {
	color: grey;
	font-size: 0.9em;
	margin-top: 0.4em;
}

.group-name-tag {
	border-style: none;
}

.group-about-section h5,
.group-members h5 {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
}

.group-join-button {
	text-align: center;
}

// JOIN BUTTON
.group-join-button a {
	border-radius: 25px;
	width: 115px;
	height: 25px;
}

.group-name-icon {
    padding-right: 10px;
	color: black;
}

.group-join-icon {
	padding-right: 10px;
	color: white;
}

.group-about-section p {
	color: black;
	text-align: left;
}

.groups-content-wrapper {
	width: 80%;
	margin-left: 2.5em;
	text-align: center;
}

.group-members h5 {
	color: white;
	margin-bottom: 5em;

}

