// JOIN BUTTON
.group-join-button {
  border-radius: 25px;
  width: 150px;
  height: 20px;
  background-color: #2962ff;
  color: white;
  &:hover {
    background-color: #0d47a1;
    color: white;
  }
}

.group-join-button {
  text-align: center;
}

.group-name-icon {
  padding-right: 10px;
  color: black;
}

.group-join-icon {
  padding-right: 10px;
  color: white;
}
