/* Style the tab */
*{
  font-size: 1em;
}

.tab {
  overflow: hidden;
  border: none;
  background-color: transparent;
  padding: 10px 0 10px 0;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 25px 15px 0;
}

/* Change background color of buttons on hover */
.tab button:hover {
  border-bottom: 2px solid #2962ff;
  color: #2962ff;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: transparent;
  border-bottom: 2px solid #2962ff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.button-icon {
  padding-right: 5px;
}

.section-divider {
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
}
