.filter-feed {
    color: #2962ff;
    margin-right: 15px;
    height: 20px;
    width: 6em;
    border-radius: 25px;
    border: none;
    background-color: transparent;
  }
  
  .filter-active-feed {
      background-color: #2962ff;
      color: white;
      &:hover {
          color: white;
      }
  }
  