// Font Colour
$fontColour: #212121;
$secondaryFontColor: #424242;

// Import Roboto Slab for Title
// Single Use
@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');

.hero-body.main-area {
  background-color: white;
  background-image: url('/images/home-back9.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}

.hero-body.section1-area {
  background-color: hotpink;
}

.hero.is-primary .title {
  color: white;
  margin-bottom: 35px;
}

.input {
  width: 70%;
  border-color: black;
  border-width: medium;
  box-shadow: none;
  font-weight: bold;
}

.input.input:hover {
  border-color: black;
  border-width: medium;
  box-shadow: none;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.52);
  -moz-box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.52);
  box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.52);
}

.input.input:focus {
  border-color: black;
  border-width: medium;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.52);
  -moz-box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.52);
  box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.52);
}
