// Font Colour
$fontColour: #212121;
$secondaryFontColor: #424242;

// Import Roboto Slab for Title
// Single Use
@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");

.home-rightv2 {
    transform: translate(0, 80%);
	margin-left: 2em;
}

.is-5v2 {
	height: 100%;
	background: black;
	margin: 0;
	padding: 0;
}


.home-titlev2 {
	font-weight: 600;
	font-size: 3em;
	margin-bottom: 0.2em;
	color: #2128bd;
}

.home-h6v2 {
	font-size: 1.1em;
	margin-bottom: 1.8em;
	color: $secondaryFontColor;
}

.home-imgv2 {
	width: 100%;
	height: 100%;
	position: relative;
}

.home-imgv2 img {
	width: 100%;
	height: 100%;
	object-fit: cover;

}