.navbar-brand {
	padding-left: 7em;
	padding-right: 7em;
}

.home-nav {
	background: white;
}

.signIn-button {
	border-radius: 25px;
	width: 100px;
	height: 28px;
	color: #0260ff;
	background-color: #e5efff;
	border: none;
	transition: 0.8s;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-ms-transition: 0.8s;
	-o-transition: 0.8s;
	&:hover {
		color: white;
		background-color: #2128bd;
		transition: 0.8s;
		-webkit-transition: 0.8s;
		-moz-transition: 0.8s;
		-ms-transition: 0.8s;
		-o-transition: 0.8s;
		-webkit-transform: rotate(10deg);
		-moz-transform: rotate(10deg);
		-o-transform: rotate(10deg);
		-ms-transform: rotate(10deg);
		transform: rotate(10deg);
	}
}

.navEnd {
	padding-right: 7em;
}
