.navbar {
  background-color: white;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.navEnd {
  padding-right: 3em;
}

.navbar-item img {
  width: 100%;
  height: 400px;
}

.register {
  font-weight: bold;
}

.sign-in {
  border-width: medium;
  font-weight: bold;
  border-color: #3a71ed;
  color: #3a71ed;
  height: 30px;
  width: 80px;
  &:hover {
    background-color: #3a71ed;
    border-color: #3a71ed;
    color: white;
  }
}
