// Cards
.box {
  margin: 0;
}

* {
  font-size: 13px;
}

.avatar-news-feed img {
  height: 100%;
  object-fit: cover;
}

.avatar-news-feed {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.info-box p {
	color: rgb(216, 197, 197);
}

.level.followers-top {
  margin-bottom: 0;
}