// Font Colour
$fontColour: #212121;
$secondaryFontColor: #424242;

// Import Roboto Slab for Title
// Single Use
@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");

.navbar-brand {
	padding-left: 7em;
}

.home-nav {
	background: white;
}

.home-title {
	font-family: "Roboto", serif;
	font-weight: 600;
	font-size: 2.2em;
	margin-top: 4em;
	margin-bottom: 0.2em;
	color: $fontColour;
}

.home-right h6 {
	font-size: 1.1em;
	margin-bottom: 2em;
	color: $secondaryFontColor;
}

.iron-icon {
	color: #cfd8dc;
	&:hover {
		color: grey;
	}
}

.is-gapless {
	height: 100%;
	min-height: 700px;
	margin-top: 0;
	margin-bottom: 0;
	background-color: white;
}

.is-5 {
	height: 100%;
}

.home-leftCol {
	height: 100%;
}

.home-right {
	margin-left: 7em;
}

.home-img {
	margin-top: 4.5em;
}
