// News Feed
.box {
  box-shadow: none;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    //box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.box-feed {
  margin-top: 25px;
  padding: 5px;
  border: none;
}

* {
  font-size: 1m;
}

// Avatar
.avatar-news-feed img {
  height: 100%;
  object-fit: cover;
}

.content figure {
  margin-left: 0;
  margin-right: 1em;
}

// Avatar Info
p.user-info {
  margin-bottom: 0;
}

.content p {
  font-size: 1em;
  margin-bottom: 0;
}

.news-feed {
  padding: 10px;
}

.news-feed-top {
  margin-bottom: 0;
}

.news-feed-message {
  margin-left: 65px;
  margin-right: 65px;
  margin-top: -3em;
  width: auto;
  background-color: #f9f8ff;
  border-radius: 5px;
  word-wrap: break-word;
}

.news-feed-message h5 {
  font-weight: bold;
  margin-bottom: 5px;
}

.feed-user {
  text-decoration: none;
  color: #424242;
  font-weight: bold;
  &:hover {
    color: #2962ff;
    background-color: #f5f7ff;
    text-decoration: underline;
  }
}

.avatar-news-feed {
  width: 50px;
  height: 50px;
}

.bottom-nav-news {
  margin-left: 70px;
  margin-top: 2em;
  margin-bottom: 1em;
}

.news-feed-break {
  margin-top: 3em;
}

.comments-button {
  border: none;
  background-color: transparent;
  height: 5px;
  color: #424242;
  width: 0;
  margin-left: 55px;
  &:hover {
    color: #2962ff;
    text-decoration: underline;
  }
}

.reply-button {
  border: none;
  background-color: transparent;
  height: 5px;
  color: #424242;
  width: 0;
  margin-left: 90px;
  &:hover {
    color: #2962ff;
    text-decoration: underline;
  }
}

.comments-icon {
  color: #272b2e;
  margin-right: 5px;
  &:hover {
    color: #272b2e;
  }
}

.reply-icon {
  color: #272b2e;
  margin-right: 5px;
  &:hover {
    color: #272b2e;
  }
}

.icon-feed {
  color: #272b2e;
  margin-left: 5px;
}

.news-pin {
  margin-right: 15px;
  margin-top: -50px;
  border-radius: 25px;
  border: none;
  background-color: white;
  color: #424242;
  &:hover {
    color: #2962ff;
  }
  &:focus,
  :active {
    border: none;
  }
}
