// Tags
.tag-structure {
  margin-right: 5px;
}
.tag-buttons {
  margin-right: 5px;
}

.tag-button-colors {
  background-color: #FFEBEE;
  border-color: #D32F2F;
  height: 15px;
  color: #D32F2F;
  font-weight: 600;
  &:hover {
    background-color: #FFCDD2;
    border-color: #D32F2F;
    color: #D32F2F;
  }
}

.tag-buttons {
  margin-top: 10px;
}

.tag-icons {
  margin-left: 5px;
  transform: rotate(225deg);
}

.tag-label {
  margin-left: 5px;
}
