// Styles for Tag Menu Component

.tag-menu-label {
	color: #212121;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.9em;
}

.add-menu-label {
	color: #212121;
	font-weight: bold;
	font-size: 1em;
	background: transparent;
	border: none;
	padding: 0;
	&:hover {
		color: #0060df;
	}
}



// ADD NEW BUTTON
.tag-menu-add-new-wrap a.tag-menu-add-new {
	background: url("../node_modules/@mdi/svg/svg/plus.svg") no-repeat;
	background-position: 0% 0%;
}

a.tag-menu-add-new {
	padding-left: 2em;
	vertical-align: middle;
	text-transform: uppercase;
}

.tag-menu-label-top {
	margin-top: 3%;
}

// LABEL
.tag-add-button-wrap a.tag-add-button {
	background: url("../node_modules/@mdi/svg/svg/plus.svg") no-repeat;
	background-position: center;
}

.tag-menu-button {
	border-radius: 50%;
	padding:0 13px 0 13px;
	background: transparent;
	border-color: transparent;
	&:hover{
		background: #E3F2FD;
		border-color: transparent;
	}
}