// Tags
.tag-structure {
  margin-right: 5px;
}
.tag-buttons {
  margin-right: 5px;
}

.tag-button-colors {
  background-color: #0060df;
  border-color: #01579b;
  height: 15px;
  color: #ffffff;
  font-weight: 600;
  &:hover {
    background-color: #bbdefb;
    border-color: #01579b;
    color: #01579b;
  }
}

.tag-buttons {
  margin-top: 10px;
}

.tag-icons {
  margin-left: 5px;
  transform: rotate(225deg);
}

.tag-label {
  margin-left: 5px;
}
