// Code in the comments belongs to a previous iteration of the project that might need to be returned to
// Import a Google Font
// Open Sans - Regular (400)
// Open Sans - Bold (700)
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$link: #0060df;

// Import Material Design
// @import "../node_modules/material-design-icons/iconfont/";

// Bulma *ALL SASS imports
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/grid/_all.sass';
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/layout/_all.sass';
@import '../node_modules/bulma/sass/elements/_all.sass';

// Components
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/components/dropdown.sass';
@import '../node_modules/bulma/sass/components/modal.sass';
@import '../node_modules/bulma/sass/components/level.sass';

// Material Design Icons
// Default Styles
.alert.mdi::before,
.breadcrumb .mdi::before,
.btn.mdi::before,
.card-title.mdi::before,
.card-subtitle.mdi::before,
.card-link.mdi::before,
.dropdown-item.mdi::before,
.list-group-item.mdi::before,
.nav-link.mdi::before {
  font-size: 1.25em;
  line-height: initial;
  position: relative;
  top: 0.09rem;
}
.alert.mdi::before,
.breadcrumb .mdi:not(:empty)::before,
.btn.mdi:not(:empty)::before,
.card-title.mdi:not(:empty)::before,
.card-subtitle.mdi:not(:empty)::before,
.card-link.mdi:not(:empty)::before,
.dropdown-item.mdi:not(:empty)::before,
.nav-link.mdi:not(:empty)::before {
  margin-right: 0.25rem;
}
.list-group-item.mdi:not(:empty)::before {
  margin-right: 0.5rem;
}
.dropdown-item.mdi:not(:empty)::before {
  margin-left: -0.75rem;
}
.alert.mdi::before,
.list-group-item.mdi:not(:empty)::before {
  margin-left: -0.5rem;
}
.modal-title.mdi::before {
  font-size: 1em;
  line-height: 0.5;
  position: relative;
  top: 0.26rem;
  margin-right: 0.5rem;
}

// Structure
html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background-color: #f6f8f7;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

// Main Content
.main-container {
  height: 100vh;
  max-width: 100%;
  margin: 0;
}

.columns-container {
  margin-right: 0;
}

.columns:not(:last-child) {
  margin-bottom: 0;
}

// Sidebar
.sidebar {
  background-color: white;
  padding: 0;
  margin: 0;
}

.sticky {
  position: sticky;
  top: 30px;
  margin: 3%;
}

// Dropdown
button.button.dropdown-sidebar {
  background-color: brown;
}

.level.sidebar-dropdown {
  margin-bottom: 0;
}

// Sidebar Avatar
.sidebar-avatar-logout {
  padding-left: 2%;
}

// Main content
.main-content {
  height: 100%;
}

.sidebar-notifications {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

