.navbar-item {
  background-color: transparent;
}

.notification-button {
  background-color: #0060df;
}

.navbar-item {
  border-color: #0060df;
}

.navbar-item.has-dropdown {
  color: #0060df;
  margin-right: 15px;
  font-size: 14px;
  height: 35px;
  border-radius: 25px;
  border: solid;
  border-color: #EEEEEE;
  border-width: 1px;
}

.notification-icon {
  color: #212121;

}
.navbar-link {
  border-radius: 25px;
  color: #212121;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: #212121;
  margin-top: -0.5em;
  margin-left: 15;
  right: 0.5em;
  margin-right: 5px;
}

.navbar-link.avatar {
  padding-left: 15px;
}

.navbar-item.is-hoverable {
  background-color: white;
}

.notification-icon {
  padding-right: 5px;
}

.topnav-icon-left {
  padding-left: 8px;
}
